* {
    line-height: 1.5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
}

ul img {
    width: 200px;
    height: auto;
}

a {
    text-transform: uppercase;
    background-color: rgb(211, 239, 211);
    color: black;
    text-decoration: none;
    border: 1px solid green ;
}

h1 {
    color: darkolivegreen;
}

.container {
    border: 2px solid rgb(0, 11, 8);
}

.recipes-card {
    border: 1px solid green;
    background-color: rgb(212, 212, 180);
}