* {
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 300px;
    height: auto;
    border: 7px solid rgb(109, 171, 236);
}

ul {
    list-style: none;
}

h1 {
    color: rgb(74, 74, 192);
    text-transform: uppercase;
}

h2,
h3 {
    text-decoration:underline;
    background-color: rgb(11, 102, 132);
    color: aliceblue;
    padding: 8px;
    margin: 1px;
    display: inline-flex;
    border: 2px solid #FC5185;
    transition: border-width 0.6s linear;
}

h2:hover,
h3:hover {
    border-width: 10px;

}

.recipe-card {
    width: 800px;
    background-color: lightblue;
    text-align: center;
    margin: 20px auto;
}

.recipe-content {
    text-align: left;
    padding: 8px;
}
